.container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    margin-bottom: 0;
    flex-direction: column;
    background-color: cornsilk;
}

.table {
    padding: 50px 10% 3% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}